a {
  color: red;
}
table {
  display: inline-block;
  border-collapse: collapse;
  margin-top: 10px;
  margin: 10px auto;
}
td {
	border: solid 1px;
  text-align: center;
  padding: 5px 5px;
}
table td:nth-of-type(1) {
  width: 75px;
}
table td:nth-of-type(2) {
  width: 100px;
}
table td:nth-of-type(3) {
  width: 100px;
}
table td:nth-of-type(4) {
  width: 100px;
}
table td:nth-of-type(5) {
  width: 150px;
}
table td:nth-of-type(6) {
  width: 600px;
}
table td:nth-of-type(7) {
  width: 400px;
}
.win {
  width: 100%;
  height: 50px;
}
.bt {
  float: left;
  height: 100%;
  width: 200px;
}